{% extends "base.html" %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


{% include 'agents_create.html' %}

<div class="bg-white p-8 rounded-md w-full">
	<div class=" flex items-center justify-between pb-6">
		<div>
			<h2 class="text-gray-600 font-semibold">Agents</h2>
			<span class="text-xs">All products item</span>
		</div>

		<div class="pt-2 relative mx-auto text-gray-600">
			<form method="GET" action="{% url  'agents:your_list_view' %}">
				<input class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
					type="search" name="search_query" placeholder="Search" id="{{form.search_query.auto_id}}">
				<button type="submit" class="absolute right-0 top-0 mt-5 mr-4">
					<svg class="text-gray-600 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
						viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;"
						xml:space="preserve" width="512px" height="512px">
						<path
							d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
					</svg>
				</button>
			</form>
		</div>
		<div class="flex items-center justify-between">
			<div class="flex bg-gray-50 items-center p-2 rounded-md">

			</div>
			 



			
		</div>
	</div>
</div>
</div>

<div>
	<div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
		<div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
			<table class="min-w-full leading-normal">
				<thead>
					<tr>
						<th
							class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
							Name
						</th>
						<th
							class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
							Phone
						</th>
						<th
							class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
							Email
						</th>
						<th
							class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
							Address
						</th>
						<th
							class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
							Status
						</th>
					</tr>
				</thead>
				{%for i in agent%}
				<tbody>
					<tr>
						<td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
							<div class="flex items-center">
								<div class="flex-shrink-0 w-10 h-10">
									<img class="w-full h-full rounded-full"
										src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.2&w=160&h=160&q=80"
										alt="" />
								</div>
								<div class="ml-3">
									<p class="text-gray-900 whitespace-no-wrap">
										{{i.user.username}}
									</p>
								</div>
							</div>
						</td>
						<td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
							<p class="text-gray-900 whitespace-no-wrap">{{i.phone}}</p>
						</td>
						<td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
							<p class="text-gray-900 whitespace-no-wrap">
								{{i.user.email}}
							</p>
						</td>
						<td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
							<p class="text-gray-900 whitespace-no-wrap">
								{{i.addr}}
							</p>
						</td>
						{%if i.Task_Completion == 1%}
						<td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
							<span class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight">
								<span aria-hidden class="absolute inset-0 bg-green-200 opacity-50 rounded-full"></span>
								<span class="relative">True</span>
							</span>
						</td>
						{%else%}
						<td class="px-5 py-5 bg-white text-sm">
							<span class="relative inline-block px-3 py-1 font-semibold text-red-900 leading-tight">
								<span aria-hidden class="absolute inset-0 bg-red-200 opacity-50 rounded-full"></span>
								<span class="relative">False</span>
							</span>
						</td>
						{%endif%}
					</tr>
					{%endfor%}
			</table>

			<div
				class="px-5 py-5 bg-white border-t flex flex-col xs:flex-row items-center xs:justify-between          ">
				<span class="text-xs xs:text-sm text-gray-900">
					Showing 1 to 4 of 50 Entries
				</span>
				<div class="inline-flex mt-2 xs:mt-0">
					<button
						class="text-sm text-indigo-50 transition duration-150 hover:bg-indigo-500 bg-indigo-600 font-semibold py-2 px-4 rounded-l">
						Prev
					</button>
					&nbsp; &nbsp;
					<button
						class="text-sm text-indigo-50 transition duration-150 hover:bg-indigo-500 bg-indigo-600 font-semibold py-2 px-4 rounded-r">
						Next
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

{% endblock content %}